@import "tailwindcss";

@theme {
  --color-flame-green: #3B892F;
  --color-flame-dark: #070907;
  --color-flame-gold: #D2A22C;
  --color-flame-light: #F4F4F4;
  --font-sans: var(--font-sans), ui-sans-serif, system-ui;
  --font-serif: var(--font-serif), ui-serif, Georgia, serif;
}

body {
  @apply bg-flame-dark text-flame-light m-0 p-0 overflow-x-hidden;
}

.text-stroke-gold {
  -webkit-text-stroke: 1px var(--color-flame-gold);
  color: transparent;
}
