@import "tailwindcss";

@theme {
  --color-flame-green: #3b892f;
  --color-flame-dark: #070907;
  --color-flame-gold: #d2a22c;
  --color-flame-light: #f4f4f4;
  --font-sans: var(--font-sans), ui-sans-serif, system-ui;
  --font-serif: var(--font-serif), ui-serif, Georgia, serif;
}

body {
  @apply bg-flame-dark text-flame-light m-0 p-0 overflow-x-hidden;
}

.text-stroke-gold {
  -webkit-text-stroke: 1px var(--color-flame-gold);
  color: transparent;
}
